body {
  font-family: arial, helvetica, sans-serif;
}
h1 {
  color: #777;
  font-size: 24px;
  font-weight: normal;
  padding: 0 40px;
}
ul {
  margin: 0 0 10px;
  padding: 0 40px;
}
li {
  color: #70757a;
  font-size: 12px;
  line-height: 16px;
  list-style: none;
}
.weather-app {
  border: 1px solid #dadde1;
  padding: 15px;
  margin: 20px auto;
  max-width: 600px;
  border-radius: 10px;
  background: radial-gradient(
    circle at 7.5% 24%,
    rgb(237, 161, 193) 0%,
    rgb(250, 178, 172) 25.5%,
    rgb(190, 228, 210) 62.3%,
    rgb(215, 248, 247) 93.8%
  );
}
.temperature {
  color: black;
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}
.weather-icon {
  height: 64px;
  width: 64px;
  margin-top: unset;
  margin-right: 10px;
  vertical-align: top;
}
.units {
  position: relative;
  top: -32px;
}
.search-form {
  margin-bottom: 20px;
}
